/* Global */
:root {
  /* Color */
  --color-white: #f1f0ec;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-yellow: #fcd134;
  --color-dark-yellow: #ffff6a;
  --color-light-yellow: #ffff8d;
  --color-gray: #939597;
  --color-dark-gray: #616161;
  --color-ornage: #EB622B;
  --color-red: #cf5c78;
  --color-blue: #00589b;
  --color-black: #000000;
  --color-green: #00a0b0;
  --color-light-green: #68b68e;
  --color-dark-green: #005837;
  --color-brown: #a3623b;
  --color-background-green: #219c5c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Font family */
  --font-family-arch: 'Archivo Black', sans-serif;
  --font-family-nanum: 'Nanum Gothic', sans-serif;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 250ms ease;
}

body {
  font-family: var(--font-family-nanum);
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-red);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  margin: 15px 0;
  font-family: var(--font-family-arch);
  color: var(--color-blue)
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 10px 0;
  color: var(--color-dark-green);
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
  color: var(--color-dark-green);
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #209d5c;
  align-items: center;
  color: var(--color-black);
  padding: px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin-left: 12px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white)
}

.navbar__menu__item:hover {
  background-color: var(--color-yellow);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  display: none;
}

/* Home */
#home {
  background: url("img/bg2.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  margin-top: 30px; 
;}

.home__title {
  color: var(--color-black);
  font-family: var(--font-family-arch);
}

.home__description {
  color: var(--color-black);
  font-family: var(--font-family-arch);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section Common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1100px;
  margin: auto;
}

/* About */

#about {
  background-color: var(--color-white);
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  line-height: 170px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
}

.major__icon i {
  transition: all var(--animation-duration);
}

.major__icon:hover i {
  color: var(--color-yellow);
  transform: rotate(-30deg) scale(1.1);
}

.major__title, .major__description {
  color: var(--color-dark-green);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name, 
.job__period {
  color: var(--color-dark-green);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

.job img {
  width: 100px;
  max-height: 40px;
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

#skills p {
  color: var(--color-black);
  line-height: 23px;
  margin-top: 14px;
}

.skillset {
  display: flex;
  color: var(--color-white);
  margin: 25px 0;
}

.skillset ul {
  margin: 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-gray);
  padding: 20px 40px;
  border-top-left-radius: var(--size-border-radius);
  border-bottom-left-radius: var(--size-border-radius);
}

.skill {
  margin-bottom: 20px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}


.skillset__right {
  flex-basis: 40%;
  height: 100%;
}

.tools,
.etc {
  padding: 20px;
}

.tools {
  background-color: var(--color-blue);
  border-top-right-radius: var(--size-border-radius);
}

.tools h3 {
  margin-top: 0;
}

.etc {
  background-color: var(--color-green);
  border-bottom-right-radius: var(--size-border-radius);
}

.tools__list,
.etc__list {
  padding-bottom: 14px;
}

.skillset__left h3,
.tools h3,
.etc h3 {
  font-weight: var(--weight-semi-bold); 
}

.skill__bar {
  background-color: var(--color-dark-gray);
  width: 100%;
  height: 3px;
}

.skill__value {
  background-color: var(--color-red);
  height: 3px;
}

/* Work */
#work {
  background-color: var(--color-white);
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-blue);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  font-family: var(--font-family-nanum);
  color: var(--color-blue);
  padding: 8px 30px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-yellow);
  border-radius: 50%;
  margin-left: 5px;
  color: var(--color-black);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  margin: 2px;
  background-color: var(--color-dark-white);
  border-radius: var(--size-border-radius);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project4 {
  width: 50%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 7px;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description span {
  line-height: 25px;
}

.project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 30px;
  height: 1px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial */

#testimonials {
  background-color: var(--color-yellow);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonials__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonials__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonials__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Contact */
#contact {
  background-color: var(--color-background-green);
}

.contact__title,
.contact__email {
  color: var(--color-light-white);
}

.contact__rights {
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);

}
.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration);
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}
.contact__links a {
  color: white;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .logo {
    margin-top: 24px;
  }
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .about__majors {
    flex-direction: column;
    text-align: center;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonials__avatar {
    width: 80px;
    height: 80px;
  }
}